@font-face {
  font-family: Montserrat-Regular;
  src: url(../../../fonts/Montserrat-Regular.ttf);
}

.tools {
  height: 70px;
  border-bottom: 2px solid black;
}

.font {
  font-family: "Montserrat-Regular";
}

.body {
  height: 90%;
  background: #141414;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.bodyLight {
  height: 90%;
  background: white;
  box-shadow: 0px 0px 7px -2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media only screen and (max-height: 850px) {
  .body {
    height: 86%;
  }
  .bodyLight {
    height: 86%;
  }
}
