
.popover1 .CircularProgressbar .CircularProgressbar-path {
  stroke: #E9E9E9;
  margin-top: -3px;
}

.popover1 .CircularProgressbar  .CircularProgressbar-trail {
  stroke: #7D7D7D;
}

.popover1 .CircularProgressbar  .CircularProgressbar-text {
  fill: white;
}

.popover1 .CircularProgressbar  .CircularProgressbar-background {
  fill: green;
}

.popover1 .spinner-border{
  border: .2em solid currentColor;
  border-right-color: white;
}

.popover2 .CircularProgressbar .CircularProgressbar-path{
  stroke: rgb(16, 97, 236);
  margin-top: -3px;
}

.popover2 .CircularProgressbar  .CircularProgressbar-trail {
  stroke: #BFBFBF;
}

.popover2 .CircularProgressbar  .CircularProgressbar-text {
  fill: black;
}

.popover2 .spinner-border{
  border: .2em solid currentColor;
  border-right-color: white;
}

/* hight process */

.ant-progress-inner{
  background: #DBDBDB !important;
  top: -11px !important;
  height: 4px !important;
  border-radius: 0  !important;
  -webkit-border-radius: 0  !important;
  -moz-border-radius: 0  !important;
  -ms-border-radius: 0  !important;
  -o-border-radius: 0  !important;
}
#dark_collapse .ant-progress-inner{
  background: #5A5A5A !important;
  top: -11px !important;
  height: 4px !important;
  border-top:1px solid #707070;
  border-radius: 0  !important;
  -webkit-border-radius: 0  !important;
  -moz-border-radius: 0  !important;
  -ms-border-radius: 0  !important;
  -o-border-radius: 0  !important;
}

.ant-progress-success-bg, .ant-progress-bg{
  height: 4px !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.ant-progress-outer{
  height: 4px !important
}