@font-face {
  font-family: Montserrat-Medium;
  src: url(../../../../../fonts/Montserrat-Medium.ttf);
}

.ant-collapse {
border: none;
}
#light_collapse .ant-collapse-header{
  background: #C1D6FA;
  height:32px;
  font-size:12px;
  padding: 0px 0px 0px 40px;
  font-family: "Montserrat-Medium";

}
#dark_collapse .ant-collapse-header{
  background: #5A5A5A;
  height:32px;
  font-size:12px;
  padding: 0px 0px 0px 40px;
  font-family: "Montserrat-Medium";
  color:white;

}
#dark_collapse .ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header{
  background:#3D3D3D
}
#dark_collapse .ant-collapse-content{
  background: unset  !important;
}
#dark_collapse .ant-collapse-content .ant-collapse-content-active{
background-color: #3D3D3D !important;
}


.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header { border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -ms-border-radius: 5px 5px 0px 0px; -o-border-radius: 5px 5px 0px 0px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
  padding: 9px 24px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  padding: 5px 0px;
  color:#707070;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding:0;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
  padding:0px 0px 0px 40px;
}
.ant-collapse > .ant-collapse-item{
  border: none !important;
}