@font-face {
  font-family: Montserrat-Medium;
  src: url(../../../../../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../../../../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../../../../../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../../../../../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(../../../../../fonts/Montserrat-Medium.ttf);
}
.item{
  height: 55px;
   border-bottom: 1px solid #EBEBEB;
}
.item_dark{
  height: 55px;
  border-bottom: 1px solid #616161;
}
.container{
  position: fixed;
  z-index:11;
  width:379px;
  right:77px;
  bottom:0px;
  border-radius: 5px 5px 0 0  !important;
  overflow: hidden;
  -webkit-border-radius: 5px 5px 0 0  !important;
  -moz-border-radius: 5px 5px 0 0  !important;
  -ms-border-radius: 5px 5px 0 0  !important;
  -o-border-radius: 5px 5px 0 0  !important;
}
.div_for_steps{
  width: 10px;
  height:10px;
  border-radius: 50%;
  margin-left: 5px;
  background: #BFBFBF;
  border: 1px solid white;
  box-shadow: 0px 1px 3px 0px;
 }
 .file_name{
  font-family: "Montserrat-Regular";
  margin-left: 5px;
 }
 .project_name{
  font-family: "Montserrat-SemiBold";
 }
 .header{
  /* padding-top: 4px; */
  font-family: "Montserrat-SemiBold";
 }
 .cancel_all{
  padding-right: 18px;
 }
 .cancel_all:focus{
   outline: 0;
 }
.cancel_uploading_file:focus{
  outline: 0;
}
 .bold{
font-family: "Montserrat-Bold";
 }
 .medium{
  font-family: "Montserrat-Medium";
 }
 .text{
  width: 213px; padding-left: 10px; font-size: 12px;
 }
 .text_dark{
   color:#BFBFBF;
 }
 .content_for_uploading_files{
   max-height:220px;
   height:100%;
   overflow-y: scroll;
 }
 .content_for_uploading_files::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content_for_uploading_files::-webkit-scrollbar {
  width: 2px;
}

.content_for_uploading_files {
  scrollbar-width: 2px;
}

.content_for_uploading_files::-webkit-scrollbar:hover {
  cursor: pointer;
}

.content_for_uploading_files::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: inset 0 0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dark_content_for_uploading_files::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
  -webkit-box-shadow: inset 0 0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content_for_uploading_files::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}