@font-face {
  font-family: OpenSansCondensed-Bold;
  src: url(../../fonts/OpenSansCondensed-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(../../fonts/OpenSans-Regular.ttf);
}

.homeCont {
  max-width: 1820px;
  font-family: "Montserrat";
}

.row {
  min-height: calc(100vh - 80px);
  display: flex;
}

.bottomP {
  padding-top: 80px;
  width: 100%;
  text-align: center;
  font-family: "OpenSans-Light";
  font-size: 12px;
}

.header {
  font-size: 80px;
  font-family: "OpenSansCondensed-Bold";
  margin-top: 8px;
}

.caption {
  color: #931b80;
  font-size: 28px;
  font-family: "OpenSansCondensed-Bold";
}

.text {
  font-size: 19px;
  font-family: "OpenSans-Light";
}

.leftPart {
  padding-left: 100px;
}

.leftFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightPart {
  padding-right: 100px;
  margin-top: 5%;
}

.leftPartParent {
  margin-top: 5%;
}
.text_of_button {
  width: 195px;
  height: 45px;
  background-color: #931b80;
  color: white;
  font-size: 18px;
  font-family: "OpenSans-Light";
  margin-right: 16px;
}

.parent {
  display: flex;
}

.formatsPng {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.formatsPng img {
  margin: 20px;
}

/* .formatsPng img:nth-child(1 2) {
  margin-top: 0;
} */

.formatsPng p {
  margin: 0;
  text-align: center;
  font-family: OpenSansCondensed-Bold;
  margin-top: 20px;
  font-size: 17px;
}

.formatsPng div {
  display: flex;
  justify-content: center;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "OpenSans-Light";
  font-weight: bold;
}

.signInBtn {
  margin-left: 20px;
  width: 190px;
  height: 45px;
  background-color: #931b80;
  color: white;
  font-size: 15px;
}

.textWithButton {
  display: flex;
  align-items: flex-end;
}
@media only screen and (max-width: 1498px) {
  .header {
    font-size: 53px;
  }

  .text {
    font-size: 19px;
  }
  .bottomP {
    font-size: 11px;
  }
}
@media only screen and (max-width: 1313px) {
  .header {
    font-size: 36px;
  }

  .text {
    font-size: 15px;
  }

  .caption {
    font-size: 22px;
  }

  .bottomP {
    font-size: 9px;
  }
}

@media only screen and (max-width: 1120px) {
  .header {
    font-size: 26px;
  }

  .text {
    font-size: 14px;
  }

  .leftPart {
    padding-left: 50px;
    max-width: 550px;
  }

  .rightPart {
    padding-right: 50px;
  }
  .caption {
    font-size: 17px;
  }

  .leftPart {
    max-width: max-content;
  }

  .formatsPng img {
    width: 145px;
    height: 185px;
    /* margin-top: 50px; */
  }
}

@media only screen and (max-width: 992px) {
  /* .leftPartParent {
    max-width: 52%;
  } */
  .header {
    font-size: 16px;
  }

  .text {
    font-size: 11px;
  }

  .rightPart {
    padding-right: 50px;
  }
  .caption {
    font-size: 13px;
  }

  .leftPart {
    padding-left: 30px;
  }

  .rightPart {
    padding-right: 20px;
    max-width: 40%;
  }

  .formatsPng img {
    width: 90px;
    height: 120px;
    /* margin-top: 50px; */
  }
  .signInBtn {
    margin-left: 20px;
    width: 160px;
    height: 39px;
    background-color: #931b80;
    color: white;
    font-size: 12px;
  }
}

@media only screen and (max-width: 770px) {
  .rightPart {
    padding-right: 20px;
    max-width: 45%;
  }

  .formatsPng img {
    width: 145px;
    height: 185px;
    margin-top: 50px;
  }

  .row {
    display: block;
  }

  .parent {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 28px;
  }

  .leftPartParent {
    max-width: 100%;
    margin: 30px auto;
  }

  /* .rightPart {
    max-width: 75%;
    margin: auto;
  } */

  .text_of_button {
    width: 150px;
    height: 35px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .rightPart {
    max-width: 80%;
    margin: auto;
  }

  .leftpart {
    padding-left: 15px;
  }

  .signInBtn {
    width: 124px;
    height: 38px;
    font-size: 10px;
  }

  .formatsPng img {
    width: 112px;
    height: 147px;
    margin: 15px;
  }
}

@media only screen and (max-width: 350px) {
  .rightPart {
    max-width: 90%;
    margin: auto;
  }
}
