.display {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.scroll {
  overflow-y: scroll;
  margin: 0px -5px;
}

.scroll a:hover {
  cursor: pointer;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.scroll::-webkit-scrollbar {
  width: 2px;
}

.scroll::-webkit-scrollbar:hover {
  cursor: pointer;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: inset 0 0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.scroll_dark::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
  -webkit-box-shadow: inset 0 0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 815px) {
  .scroll::after {
    flex: 0;
  }
}

@media only screen and (max-width: 585px) {
  .scroll::after {
    flex: 0;
  }
}
