.CircularProgressbar .CircularProgressbar-path {
  stroke: black;
}

.CircularProgressbar  .CircularProgressbar-trail {
  stroke: #7D7D7D;
}

.CircularProgressbar  .CircularProgressbar-text {
  fill: white;
}

.CircularProgressbar  .CircularProgressbar-background {
  fill: green;
}

.spinner-border{
  border: .2em solid currentColor;
  border-right-color: white;

}