.content {
  max-width: 1820px;
}

.projects {
  height: 95%;
  flex-wrap: nowrap;
}

.projectContent {
  min-width: 305px;
}

@media only screen and (max-width: 1024px) {
  .projectContent {
  }
  .projectContainer {
  }
}

@media only screen and (max-width: 900px) {
  .projectContent {
  }
  .projectContainer {
  }
}

@media only screen and (max-width: 405px) {
  .projectContent {
    min-width: 334px;
    max-width: 334px;
    margin-left: 3%;
    padding: 0;
  }
}
