@font-face{
  font-family: Montserrat-Regular;
  src:url(../../fonts/Montserrat-Regular.ttf)
}

.modal {
  background-color: rgba(0,0,0,0.5);
  color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:10;
}

.modalLight {
  background-color: rgba(0,0,0,0.5);
  color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:10;
}

.modalChild{
  height: 135px; 
  background:#141414; 
  border-radius:10px; 
  min-width:350px; 
  color:#7D7D7D;
}

.modalChildLight{
  height: 135px; 
  background:white; 
  border-radius:10px; 
  min-width:350px; 
  color:black;
}

.headerFont{
  font-family: 'Montserrat-Regular';
}

.btnFont{
  font-family: 'Montserrat-Regular';
}
