@font-face {
  font-family: Montserrat-Medium;
  src: url(../../../fonts/Montserrat-Medium.ttf);
}

.header {
  height: 70px;
  border-bottom: 2px solid black;
}

.headerLight {
  height: 70px;
  border-bottom: 2px solid #b9b9b9;
}

.header h6 {
  font-family: "Montserrat";
  font-size: 16px;
}

.headerLight h6 {
  font-family: "Montserrat";
  font-size: 16px;
}

.content {
  background: black;
  border-radius: 10px;
  width: 100%;
  height: calc(100% - 87px);
  margin-top: 15px;
}

.contentLight {
  background: white;
  border-radius: 10px;
  width: 100%;
  height: calc(100vh - 200px);
  margin-top: 15px;
  box-shadow: 0px 0px 7px -2px;
}

.company_name {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  padding: 7px 0px 0px 29px;
  width: 50px;
  height: 19px;
  text-overflow: ellipsis;
}

.title {
  height: 120px;
  padding-top: 25px;
}

.pad {
  padding-right: 22px;
}

.add {
  float: right;
}

.addBtn {
  background: #931b80;
  width: 30px;
  height: 29px;
  border-radius: 4px;
  margin: 0px 7px;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.editBtn img {
  width: 17px;
}

.closeModalbtn {
  background: #931b80;
  border-color: #931b80;
}

.closeModalbtn:hover {
  background: #931b80;
  border-color: #931b80;
}

.closeModalbtn:active {
  background: #931b80 !important;
  border-color: #931b80 !important;
}

.delete {
  background: black;
  width: 30px;
  height: 29px;
  padding: 0;
  margin-right: 7px;
  background: #2b2b2b;
  border-radius: 4px;
}

.deleteLight {
  background: unset;
  width: 30px;
  height: 29px;
  padding: 0;
  margin-right: 3px;
  background: white;
  border-radius: 4px;
  border: 1px solid rgb(147, 147, 148);
}

.remove {
  width: 30px;
  height: 29px;
  border-radius: 4px;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.line {
  width: 92%;
}

.folders {
  overflow-y: scroll;
  height: calc(100% - 151px);
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgb(204, 203, 203) rgba(247, 246, 246, 0.007);
}

.folders a:hover {
  text-decoration: none;
  cursor: pointer;
}

.folders::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.folders::-webkit-scrollbar {
  width: 2px;
}

.folders::-webkit-scrollbar:hover {
  cursor: pointer;
}

.folders::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.folder_light::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px;
  background-color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.folders::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.text {
  height: 34%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.counts {
  font-family: "Montserrat-Medium";
  width: 56px;
  color: #a8a8a8;
}

.countsLight {
  font-family: "Montserrat-Medium";
  width: 56px;
  color: black;
}

.counts:hover {
  cursor: pointer;
}

.countsLight:hover {
  cursor: pointer;
}

/* @media only screen and (max-height: 850px) {
  .title {
    padding-top: 17px;
  }
}

@media only screen and (max-width: 768px) {
} */
