@font-face {
  font-family: Montserrat-Medium;
  src: url(../../../../../fonts/Montserrat-Medium.ttf);
}

.toolBtn {
  padding-top: 0px;
  width: 36px;
  height: 36px;
  background: #2b2b2b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.toolBtnLight {
  padding-top: 0px;
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.toolBtn:hover {
  background: #000000;
  cursor: pointer;
}

.toolBtnLight:hover {
  background: rgb(217, 217, 217);
  cursor: pointer;
}

.backBtn {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.bar {
  padding-top: 0px;
  width: 35px;
  height: 35px;
  background: #2b2b2b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 8px;
}

.barLight {
  padding-top: 0px;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 8px;
}

.bar:hover {
  background: #000000;
}

.barLight:hover {
  background: rgb(217, 217, 217);
}

.menu {
  padding-top: 0px;
  width: 36px;
  height: 36px;
  background: #2b2b2b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 4px;
}

.menuLight {
  padding-top: 0px;
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 4px;
}

.menu:hover {
  background: #000000;
}

.menuLight:hover {
  background: rgb(217, 217, 217);
}

.form {
  height: 35px;
  margin-top: 16px;
}

.upload {
  display: none;
}

#file {
  display: none;
}

.uploadNoFile {
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background: #931b80;
  color: white;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 100%;
  float: right;
  padding-top: 6px;
}

.uploadNoFileDisabled {
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background: #931b7f75;
  color: white;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 100%;
  float: right;
  padding-top: 6px;
}

.uploadNoFile span {
  font-family: "Montserrat-Medium";
}

.uploadNoFile:hover {
  cursor: pointer;
}

label {
  padding-top: 0px;
}

.text {
  color: white;
  height: 34%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.textLight {
  color: black;
  height: 34%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/*
.searcherContainer{
  width:143px;
  margin-right: 17px;
} */

.searcher {
  width: 180px;
  margin-right: 17px;
  margin-top: 16px;
}

.searcher input {
  background-color: #343434;
  border: none;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  height: 35px;
  max-width: 180px;
  color: #a8a8a8;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.searcher input:focus {
  color: #a8a8a8;
}

.searcherLight input {
  background-color: white;
}

.searcherLight input:focus {
  color: black;
}


.format {
  padding: 7px;
  width: 36px;
  height: 36px;
  background: #2b2b2b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 4px;
}

.formatLight {
  padding: 7px;
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 4px;
}

.format:hover {
  background: #000000;
}

.formatLight:hover {
  background: rgb(217, 217, 217);
}

@media only screen and (max-width: 1024px) {
  .form {
    width: 35px;
    height: 35px;
  }

  .uploadNoFile img {
    width: 24px;
    height: 24px;
  }
}
@media only screen and (max-width: 470px) {
  .searcher {
    width: 120px;
  }
  .searcherLight {
    width: 120px;
  }
}

@media only screen and (max-width: 410px) {
  .form {
    width: 30px;
    height: 30px;
  }

  .uploadNoFile img {
    width: 19px;
    height: 19px;
  }

  .toolBtn {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .toolBtnLight {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .bar {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .barLight {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .menu {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .menuLight {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .backBtn {
    width: 30px;
    height: 30px;
  }
  .searcher {
    height: 30px;
  }
  .searcherLight {
    height: 30px;
  }
  .searcher input {
    height: 30px;
  }
}
