/* @font-face {
  font-family: Montserrat-Medium;
  src: url(../../../../fonts/Montserrat-Medium.ttf);
}

#popoverDark {
  width: 450px;
}

#popoverLight {
  width: 450px;
  box-shadow: 0px 0px 7px 2px;
}

.popover-body form input {
  width: 72%;
  height: 30px;
  background: unset;
  color: #787878;
  font-size: 16px;
  outline-style: none;
  border: none;
}

.add-project-popover .popover .arrow::after,
.add-project-popover .popover .arrow::before {
  right: 100px;
}

.add-project-popover {
  position: absolute;
  will-change: transform;
  top: 8px;
  left: 99px;
}

.add-project-popover .popover-body button {
  font-family: "Montserrat-Medium";
  font-size: 11px;
  background: #931b80;
  color: white;
  width: 31%;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  padding-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#deleteSub {
  width: 300px;
  height: 250px;
}

.popover-body {
  height: 100%;
}

.popover-body form {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-project-popover100 .popover .arrow::after,
.add-project-popover100 .popover .arrow::before {
  right: 100px;
}

.add-project-popover100 {
  position: absolute;
  will-change: transform;
  top: 8px;
  left: 99px;
}

.add-project-popover100 .popover-body input {
  background: #931b80;
  color: white;
  width: 25%;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  padding-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.popver {
  border: none;
}

.popover.show.bs-popover-auto {
  border: none;
}

#popoverDark {
  background-color: black;
}

#popoverLight {
  background-color: white;
}

@media only screen and (max-width: 750px) {
  #popoverDark {
    width: 314px;
  }

  #popoverLight {
    width: 314px;
  }

  .add-project-popover {
    left: -110px;
  }

  .add-project-popover .popover .arrow::after,
  .add-project-popover .popover .arrow::before {
    left: 110px;
  }
} */
