.reflex-container.vertical > .reflex-splitter{
  height:27px !important;
  border-color: #C8C8C8 !important;
}

.reflex-element{
  overflow: hidden !important;
}
/* .reflex-element::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-top:10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.reflex-element::-webkit-scrollbar {
  width: 1px;
  height:1px;
}

.reflex-element::-webkit-scrollbar:hover {
  cursor: pointer;
}

.reflex-element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(182, 182, 182);
  -webkit-box-shadow: inset 0 0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.reflex-element::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
} */