 @font-face {
   font-family: Montserrat-Medium;
   src: url(../../../../../fonts/Montserrat-Medium.ttf);
 }

 .tableHead {
   color: white;
   height: 53px;
   border-radius: 10px 10px 0px 0px;
   overflow:hidden;
 }
 .headers {
   font-size: 12px;
   font-family: "Montserrat-Bold";
   color: #7d7d7d;
   padding: 6px 0px 0px 10px;
   height: 27px;
   margin:0;
 }

 .scroll {
   overflow-y: scroll;
   scrollbar-width: thin;
   scrollbar-color: white white;
   scrollbar-shadow-color: inset 0 0 1px;
   scroll-margin: 10px;
   scrollbar-width: thin;
   scrollbar-color: rgb(204, 203, 203) rgba(247, 246, 246, 0.007);
 }

 .scroll a:hover {
   cursor: pointer;
 }

 .scroll::-webkit-scrollbar-track {
   border-radius: 10px;
   margin-top: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
 }

 .scroll::-webkit-scrollbar {
   width: 2px;
 }

 .scroll {
   scrollbar-width: 2px;
 }

 .scroll::-webkit-scrollbar:hover {
   cursor: pointer;
 }

 .scroll::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: white;
   -webkit-box-shadow: inset 0 0 1px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
 }
 .scroll_dark::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
  -webkit-box-shadow: inset 0 0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
 .scroll::-webkit-scrollbar-thumb:hover {
   cursor: pointer;
 }

 .container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }

 .container {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 22px;
   height:100%;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 .checkmark {
   position: absolute;
   height: 12px;
   width: 12px;
   top: 27px;
   left: 12px;
   border: 1px solid #bebebe;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
 }

 .checkmarkLight {
   position: absolute;
   height: 12px;
   width: 12px;
   top: 27px;
   left: 12px;
   border: 1px solid black;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
 }

 /* On mouse-over, add a grey background color */
 .container:hover input ~ .checkmark {
   background-color: #494949;
 }

 .container:hover input ~ .checkmarkLight {
   background-color: #bebebe;
 }

 /* When the checkbox is checked, add a blue background */
 .container input:checked ~ .checkmark {
   left: 12px;
   border: 1px solid #bebebe;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
 }

 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }

 .checkmarkLight:after {
   content: "";
   position: absolute;
   display: none;
 }

 /* Show the checkmark when checked */
 .container input:checked ~ .checkmark:after {
   display: block;
 }

 .container input:checked ~ .checkmarkLight:after {
   display: block;
 }

 .container .checkmark:after {
   left: 3px;
   top: 0px;
   width: 4px;
   height: 7px;
   border: solid white;
   border-width: 0 1px 1px 0;
   transform: rotate(45deg);
 }

 .container .checkmarkLight:after {
   left: 3px;
   top: 0px;
   width: 4px;
   height: 7px;
   border: solid black;
   border-width: 0 1px 1px 0;
   transform: rotate(45deg);
 }

 .dropMenu {
   background: #111111;
   color: #bfbfbf;
 }

 .dropMenuLight {
   background: white;
   color: black;
 }

 .dropdownItem {
   text-align: center;
   color: #bfbfbf;
 }

 .dropdownItem:hover {
   background: #272727;
   color: #bfbfbf;
 }

 .dropdownItemLight {
   text-align: center;
   color: black;
 }

 .dropdownItemLight:hover {
   background-color: #bfbfbf;
 }
.changeTableColl{
  width: 20px;
}
 .changeTableColl:hover {
   cursor: pointer;
 }
 .items {
   height:calc(100% - 60px);
 }
.header_span{
  height:27px;
  width: 2%; 
  float: right;
  border-right: 1px solid black;
}
.header_span:hover{
  cursor: col-resize;
}
