@font-face {
  font-family: Montserrat-Medium;
  src: url(/src/fonts/Montserrat-Medium.ttf);
}

.tableHead {
  width: 292px;
  height: 282px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cardStyle {
  width: 289px;
  margin: 0px 35px 30px 0px;
  height: 282px;
}

.cardStyle:nth-child(4n + 0) {
  margin: 0px 0px 3% 0px;
}

.fotoModel {
  margin: 2% auto;
  border-radius: 5px;
  width: 95%;
  height: 85%;
  opacity: 0.8;
  background: white;
}

.description {
  color: #707070;
  font-family: "Montserrat-Medium";
  font-weight: 600;
  font-size: 14px;
}

.item1 {
  margin: 5% 0;
}

.item2 {
  margin-bottom: 5%;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: absolute;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 8px;
  background-color: black;
  left: 8px;
  border: 1px solid white;
  border-radius: 4px;
  z-index: 10;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.checkmarkLight {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 8px;
  background-color: white;
  left: 8px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  z-index: 10;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.container:hover input ~ .checkmark {
  background-color: #494949;
}

.container:hover input ~ .checkmarkLight {
  background-color: rgb(112, 112, 112);
}

.container input:checked ~ .checkmark {
  top: 8px;
  background-color: black;
  left: 8px;
  border: 1px solid white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.container input:checked ~ .checkmarkLight {
  top: 8px;
  background-color: white;
  left: 8px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmarkLight:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container input:checked ~ .checkmarkLight:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container .checkmarkLight:after {
  left: 5px;
  top: 0px;
  width: 8px;
  height: 13px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tableHead:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1390px) and (max-width: 1795px) {
  .cardStyle {
    width: 23.2%;
    margin: 0px 2% 3% 0px;
  }

  .imgDiv {
    width: 100%;
  }

  .imgDiv img {
    width: 96%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1549px) {
  .cardStyle:nth-child(3n + 0) {
    margin: 0px 0px 3% 0px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1390px) {
  .cardStyle {
    width: 30%;
    margin: 0px 2.5% 3% 0px;
    height: calc(width + 10px);
  }

  .imgDiv {
    width: 100%;
  }

  .imgDiv img {
    width: 96%;
  }
}

@media only screen and (max-height: 850px) {
  .item2 {
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 1800px) {
  .tableHead {
    width: 232px;
    height: 236.53px;
  }
}

@media only screen and (max-width: 1024px) {
  .tableHead {
    width: 228.34px;
    height: 218.99px;
  }
}
@media only screen and (max-width: 900px) {
  .tableHead {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 585px) {
  .tableHead {
    width: 300px;
    height: 290px;
    margin: 0 auto 5%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 815px) {
  .tableHead {
    width: 320px;
    height: 300px;
    margin: 0 auto 5%;
  }
}
