@font-face {
  font-family: Montserrat-Medium;
  src: url(../../../../fonts/Montserrat-Medium.ttf);
}

.menuItems {
  color: #707070;
  font-weight: 300;
  padding: 15px 2px 0 8px;
  text-decoration: none;
  width: 100%;
  height: 50px;
  font-family: "Montserrat-Medium";
  font-size: 14px;
  display: inline-block;
}

.menuItemsLight {
  color: #7d7d7d;
  font-weight: 300;
  padding: 15px 2px 0 8px;
  text-decoration: none;
  width: 100%;
  height: 50px;
  font-family: "Montserrat-Medium";
  font-size: 14px;
  display: inline-block;
}

.title {
  width: 100%;
  font-family: "Montserrat-Medium";
  font-size: 14px;
  margin-top: 1px;
}

.icon {
  background-image: url("../../../../static/images/icons8-folder-100.png");
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  margin-right: 15px;
  float: left;
  margin-top: 2px;
}

.iconLights {
  background-image: url("../../../../static/images/projectsLight.png");
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  margin-right: 15px;
  float: left;
  margin-top: 2px;
}

.menuItems:hover {
  background: #606060;
  color: white;
  cursor: pointer;
  font-weight: 300;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.menuItemsLight:hover {
  background: #d9d9d9;
  color: black;
  cursor: pointer;
  font-weight: 300;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.openIcon {
  float: right;
  margin-right: 15px;
  display: none;
  width: 8px;
  height: 16px;
  margin-top: 2px;
}

.openIcon_1 {
  margin: 0px 0px 4px 22px;
  display: none;
}

.active .menuItems .openIcon_1 {
  display: initial;
}

.menuItems:hover .openIcon {
  display: initial;
}

.menuItemsLight:hover .openIcon {
  display: initial;
}

.active .menuItems {
  color: white;
}

.active .menuItemsLight {
  color: black;
}

.active .menuItems .icon {
  background-image: url("../../../../static/images/icons8-folder-100 (4).png");
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.active .menuItemsLight .iconLights {
  background-image: url("../../../../static/images/projectsLightActive.png");
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.active .menuItems .openIcon {
  display: block;
}

.active .menuItemsLight .openIcon {
  display: block;
}

.bigDiv {
  height: 50px;
  margin: 4px;
}

.bigDivLight {
  height: 50px;
  margin: 4px;
}

.bigDiv:hover {
  background: #606060;
  color: white;
  cursor: pointer;
  font-weight: 300;
  border-radius: 5px;
}

.bigDivLight:hover {
  background: #d9d9d9;
  color: white;
  cursor: pointer;
  font-weight: 300;
  border-radius: 5px;
}

.active .menuItems {
  color: white;
  cursor: pointer;
  font-weight: 300;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.active .menuItemsLight {
  color: black;
  cursor: pointer;
  font-weight: 300;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 5;
}

.checkmarkLight {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 20px;
  left: 5px;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  z-index: 5;
}

.checkmark {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 20px;
  left: 5px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  z-index: 5;
}

.container:hover input ~ .checkmarkLight {
  background-color: #bebebe;
}

.checkmarkLight:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmarkLight:after {
  display: block;
}

.container .checkmarkLight:after {
  left: 3px;
  top: 0px;
  width: 4px;
  height: 7px;
  border: solid black;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #494949;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  top: 20px;
  /* background-color: black; */
  left: 5px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 3px;
  top: 0px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

@media only screen and (max-width: 1050px) {
  .menuItemsLight {
    max-width: 311px;
  }

  .menuItems {
    max-width: 311px;
  }
}

@media only screen and (max-width: 768px) {
  .menuItemsLight {
    max-width: 675px;
  }

  .menuItems {
    max-width: 675px;
  }
}
