$height: 700px;
$sidebarWidth: 450px;

.container {
  height: inherit;
  display: flex;
  align-items: center;
}

.image {
  padding-left: 15px;
  width: calc(100% - $sidebarWidth);
  overflow: hidden;
  border-radius: 10px;
  img {
    height: $height;
    width: 1200px;
  }
}

.sidebar {
  width: $sidebarWidth;
  height: $height;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 15px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
