@font-face {
  src: url(../../../../../../fonts/Montserrat-Medium.ttf);
}

select {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  background: black;
  color: white;
  outline-style: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.font {
  font-family: "Montserrat-Medium";
}

.a {
  border-radius: 5px;
  border: none;
  background: #111111;
  font-family: "Montserrat-Medium";
}

.a option {
  margin-left: 10px;
  font-family: "Montserrat-Medium";
}

.option:hover {
  background: #272727;
}

.op {
  padding: 5px;
  text-align: center;
}

.b {
  margin-top: 15px;
  height: 38px;
  background: #111111;
  border-radius: 5px;
  width: 94%;
  color: white;
}

.item:hover {
  background: #272727;
}

.dropMenu {
  background: #111111;
  color: #bfbfbf;
}

.dropMenuLight {
  background: white;
  color: black;
}

.dropdownItem {
  text-align: center;
  color: #bfbfbf;
}

.dropdownItem:hover {
  background: #272727;
  color: #bfbfbf;
}

.dropdownItemLight {
  text-align: center;
  color: black;
}

.dropdownItemLight:hover {
  background-color: #bfbfbf;
}

.dropFormat {
  width: 161px;
  margin: 16px 10px 0 0;
}

.dropToggle {
  border: none;
  width: 161px;
}

.dropImg {
  width: 23px;
}

@media only screen and (max-width: 1600px) {
  .dropFormat {
    width: 99px;
  }

  .dropToggle {
    width: 99px;
  }
}

@media only screen and (max-width: 1250px) {
  .dropFormat {
    width: 35px;
  }

  .dropToggle {
    width: 35px;
    padding: 6px;
  }
}

@media only screen and (max-width: 405px) {
  select {
    height: 30px;
  }
}