@font-face {
  font-family: Montserrat-Regular;
  src: url(../../../../fonts/Montserrat-Regular.ttf);
}

.container {
  height: 100%;
}

.content {
  height: 70px;
  border-bottom: 2px solid black;
}

.contentLight {
  height: 70px;
  border-bottom: 2px solid #b9b9b9;
}

.tableHead {
  height: 90%;
  background: #141414;
  border-radius: 10px;
  padding-top: 13%;
}

.inlineDiv {
  /* height: 90%; */
  height: calc(100% - 86px);
  margin-top: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.inlineDivLight {
  height: calc(100% - 86px);
  margin-top: 15px;
  box-shadow: 0px 0px 7px -2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.font {
  font-family: "Montserrat-Regular";
}

.inlineDivChild {
  height: 100%;
  background: #141414;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cup {
  height: 100%;
}

.body {
  height: calc(100% - 87px);
  /* background:#141414; */
  border-radius: 10px;
  /* padding-top:13% */
}
.body:focus {
  outline: 0;
}
.inlineDiv:focus {
  outline: 0;
}
.inlineDivLight:focus {
  outline: 0;
}

/* @media only screen and (max-height: 850px){
  .inlineDiv{
    height:86%;
  }
  .tableHead{
    height:86%;
  }
  .body{
    height:86%;
  }
}
@media only screen and (max-width: 1024px){
  .inlineDiv{
    max-width: 495px;
  }
  .inlineDivLight{
    max-width: 495px;
  }
} */
