#deletePopover{
  width:300px;
  height: 250px;
  background:black;
}

#deletePopoverLight{
  width:300px;
  height: 250px;
  background:white;
  box-shadow: 0px 0px 7px 0px;
}

.popover-body{
  height:100%;
}

.popover-body form {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-project-popover10 .popover .arrow::after,
.add-project-popover10 .popover .arrow::before {
  right: 100px;
}

.add-project-popover10{
  position: absolute;
  will-change: transform;
  top: 8px;
  left: 99px;
  /* transform: translate3d(99px, 8px, 0px); */
  /* -webkit-transform: translate3d(99px, 8px, 0px);
  -moz-transform: translate3d(99px, 8px, 0px);
  -ms-transform: translate3d(99px, 8px, 0px);
  -o-transform: translate3d(99px, 8px, 0px); */
}

.add-project-popover10 .popover-body input {
  background: #931b80;
  color: white;
  width: 25%;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  padding-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

