@font-face {
  font-family: Montserrat-Bold;
  src: url(../../../../../../fonts/Montserrat-Bold.ttf);
}

.tableHead {
  height: 100%;
}

.headers {
  font-size: 14px;
  padding: 15px;
  font-family: "Montserrat-Medium";
}

.logo {
  font-family: "Montserrat-Bold";
  font-size: 12px;
  padding: 9px;
}

.logo1 {
  font-family: "Montserrat-Bold";
  font-size: 12px;
  color: #7d7d7d;
}

.bold {
  font-family: "Montserrat-Bold";
}

.line {
  height: 25%;
}

.line hr {
  background: rgb(112, 112, 112);
  width: 97.5%;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  height:100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 32px;
  left: 12px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.checkmarkLight {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 32px;
  left: 12px;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #494949;
}

.container:hover input ~ .checkmarkLight {
  background-color: #bebebe;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  left: 12px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmarkLight:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.container input:checked ~ .checkmarkLight:after {
  display: block;
}

.container .checkmark:after {
  left: 3px;
  top: 0px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.container .checkmarkLight:after {
  left: 3px;
  top: 0px;
  width: 4px;
  height: 7px;
  border: solid black;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.file:hover {
  cursor: pointer;
}
.div_for_steps {
  width: 10px;
  height:10px;
  border-radius: 50%;
  margin-left: 5px;
  background: #BFBFBF;
 }
