@font-face {
  font-family: Montserrat-Regular;
  src: url(../src/fonts/Montserrat-Regular.ttf);
}

.mainContainer {
  position: relative;
}

.contentContainer {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 80px;
  min-height: calc(100vh - 80px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
